@import "partials/mixins";

footer {
  clear:both;
}

.mainfooter {
  clear:both;
  background-color: grey;
  padding: 1%;
}

.footerParent {
	@include flexParentRow;
  justify-content: space-between;
  align-items: stretch;
}

.footerChild {

}
