@import "partials/mixins";

.mainfooter {
  clear:both;
  background-color: grey;
  color: white;
  background-image: url(img/subtle-zebra-3d.png);

  i {
  	font-size: 48px;
  	padding-left: 15px;
  	color: white;
  }

	 li {
		text-decoration: none;
		list-style: none;
	}
}

.footerParent {
  @include flexParentRow;
  justify-content: center;
  flex: 1 0 30%;
  min-width:300px;
}

.footerChild {
  padding: 2%;
  margin: 1%;
}

.mainfooter a {
  background-color: black;
  padding: 1%;
}

.mainfooter a:hover {
  background-color: cyan;
  color: black;
  padding: 1%;
}