.header-container {
	width: 100%;
	position: fixed;
	text-decoration: none;
	background-color: rgba(0,0,0,0.2);
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 9999;

    h1 {
    	margin: 10px;
    }

	ul {
    margin: 10px;
    padding: 5px;
    list-style: none;
    display: flex;
    flex-direction: row;
    text-alight: center;

    li {
    	padding: 5px;
    }

    a {
        color: white;
    }

    li:hover {
    	background-color: black;
        color: cyan;
    }
  }
}