span.mib-title {
	background-color: black;
	padding: 1%;
}

h1 {
	font-size: 7rem;
}

h2.mainTitle {
	font-size: 4rem;
	color: white;
	font-weight: 400;
	font-family: $titleFont;
	margin: 18px;
}

h3.mainTitle {
	font-size: 2rem;
	color: white;
	font-weight: 300;
	font-family: $titleFont;
	margin: 18px;
}

p.main-title {
	font-family: $bodyFont;
	font-size: 2rem;
	color: white;
	font-weight: 300;
	background-color: blue;
}

p.flex-text {
	background-color: #fff;
	color: black;
	padding: 1%;
}

.main-content {
	width: 50%;
	background-color: black;
	padding: 1%;
	margin: 0;
}