span.mib-title,
span.mib-title-h3 {
	background-color: black;
	padding: 1%;
	transition: all 0.5s ease;
}

span.mib-title-h3 {
	line-height: 3rem;
}
.mib-title:hover {
	opacity: 0.9;
	background-color: darkblue;
}

h2.mainTitle,
h3.mainTitle {
	font-size: 4rem;
	color: white;
	font-weight: 400;
	font-family: $titleFont;
	margin: 20px;
}

h3.mainTitle {
	font-size: 2rem;
	color: white;
	font-weight: 300;
}

p.main-title {
	font-family: $bodyFont;
	font-size: 2rem;
	color: white;
	font-weight: 300;
	background-color: blue;
}

p.flex-text {
	background-color: #fff;
	color: black;
	padding: 1%;
}