span.mib-title {
background-color: black;
padding: 1%;
}

span.mib-body {
background-color: black;
padding: 1%;
}

h1 {
font-size: 7rem;
}

h2.maintitle {
font-size: 4rem;
color: white;
font-weight: 300;
}

h3.maintitle {

}

p.maintitle {
color: white;
font-size: 2rem;
font-family: $bodyFont;
}

// arrow pointing down

.downward-dog {

}

p {
	font-family: helvetica, sans-serif;
}
