.page-full-img {
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	object-fit: fill;
	@include flexParentCol;
  justify-content: flex-end;
  padding: 5%;
}

.main-flex {
	@include flexParentRow;
	justify-content: center;
  align-items: flex-start;
	background-color: salmon;
	flex-wrap:wrap;
}

.main-postsBox {
	background-color: lightgrey;
	padding: 10px;
	flex: 1 0 50%;
	min-width:300px;
	// @media (max-width:800px){
	// 	flex: 1 0 100%;
	// }
}

.flex-text {
 padding: 3%;
}
