.page-wrapper {
	width: 100%;
	padding: 10%;
	background-color: grey;
	background-image: url(img/shattered.png);
}

.page-content {
	padding: 3%;
}

.page-text {
	width: 94%;
	margin: 0;
	background-color: #fff;
	padding: 10%;
}

// BELOW IS THE IMAGE EFFECTS

.page-img-container {
	max-width: 100%;
	position: relative;
	margin-bottom: 80px;
}

.page-img-box {
	width: 90%;
	padding-bottom: 60%;
	background-color: grey;
	background-image: url(img/black-twill.png);
	position: relative;
	top:0;
	left:0;
}

img.page-img  {
	max-width: 90%;
	position: absolute;
	top: 6%;
	left: 4%;	
}