.cool-container {
	max-width: 800px;
	position: relative;
	margin-top: 100px;
}

.image-box {
	width: 93%;
	padding-bottom: 60%;
	background-color: yellow;
	position: relative;
	top:0;
	left: 0;
}

.fwd-img {
	max-width: 90%;
	position: absolute;
	top: 6%;
	left: 6%;	
}

.sidebar {
	background-color: turquoise;
}