// posts - typography

.entry-title {
  font-size: 4rem;
  color: black;
  font-weight: 400;
  font-family: $titleFont;
}

.entry-content p {
  font-size: 1.5rem;
  line-height: 2rem;
  color: black;
  font-weight: 300;
  font-family: $titleFont;
}

.single-parent a,
.entry-content a,
.entry-meta a,
.sidebar a {
  color: salmon;
  text-decoration: none;
  transition: all 0.5s ease;
}
  
.entry-content a:hover,
.entry-meta a:hover,
.sidebar a:hover {
  color: cornflowerblue;
}

// divs - marlo

.single-parent {
	display: flex;
	flex-direction: row;
  padding: 10%;
  background-color: lightcyan;
  background-image: url(img/shattered-dark.png);
}

.content-post {
  max-width: 70%;
}

.content-text {
  width: 94%;
  background-color: white;
  padding: 5%;
}

.navigation {
  width: 94%;
  background-color: #A4B5B5;
  padding: 5%;
}

// SIDEBAR STYLING

.sidebar {
  background-color: lightgrey;
	padding: 2%;
	height: 100%;
}

// THIS IS THE CSS FOR THE YELLOW BACKGROUND BOX

.cool-container {
	max-width: 800px;
	position: relative;
	margin-bottom: 80px;
}

.image-box {
	width: 90%;
	padding-bottom: 60%;
	background-color: yellow;
  background-image: url(img/black-twill.png);
	position: relative;
	top:0;
	left:0;
}

.fwd-img {
	max-width: 90%;
	position: absolute;
	top: 6%;
	left: 4%;	
}


// SEARCH BAR

input[type=search] { 
  border: 0;
  padding: 5px;
  border-top: solid 4px yellow;
  background-color: white;
}

.sidebar input[type=submit] {
  margin: 10px;
  border: 0;
  padding: 5px;
  border-top: solid 4px yellow;
  background-color: white;
}


// Comment Section


h3#comments-title, h3#reply-title {
  color: black;
  font-weight:700;
  font-size:20px;
  margin-bottom:0;
}


h3#comments-title { padding:24px 0; }
.commentlist li.comment {
  border-top:10px solid yellow;
  line-height:24px;
  position:relative;
  clear:both;
  padding:0 0 0 56px;
  list-style:none;
}
.commentlist li:last-child {
  margin-bottom:0;
}
#comments .comment-body ul, #comments .comment-body ol { margin-bottom:18px; }
#comments .comment-body p:last-child { margin-bottom:6px; }
#comments .comment-body blockquote p:last-child { margin-bottom:24px;}
ol.comment-list { list-style:none;}
.commentlist .avatar {
  position:absolute;
  top:0;
  left:0;
}

.comment-meta {
  font-size:12px;
  margin:0 0 5px;
}
.comment-meta a:link, .comment-meta a:visited {
  color:#888888;
  text-decoration:none;
}

.reply {
  font-size:12px;
  padding:0 0 24px;
}
.reply a, a.comment-edit-link { color:#888888; }
.commentlist .children li {
  border:none;
  margin:0;
}
#comments .pingback {
  margin-bottom:18px;
  padding-bottom:18px;
  border-bottom:1px solid #e7e7e7;
}
.commentlist li.comment+li.pingback { margin-top:-6px; }
#comments .pingback p {
  color:#888888;
  font-size:12px;
  line-height:18px;
  display:block;
  margin:0;
}
#comments .pingback .url {
  font-style:italic;
  font-size:13px;
}
input[type=submit] { 
 	border: solid 1px black;
 	background-color: white;

}

#respond {
  margin-top:24px;
  border-top:1px solid #e7e7e7;
  overflow:hidden;
  position:relative;
}

#respond .comment-notes { margin-bottom:1em; }
.form-allowed-tags { line-height:1em; }
.children #respond { margin:0 48px 0 0; }
h3#reply-title { margin:18px 0; }
#comments-list #respond { margin:0 0 18px; }
#cancel-comment-reply-link {
  font-size:12px;
  line-height:18px;
  font-weight:400;
}
#respond .required {
  color:#ff4b33;
  font-weight:700;
}
#respond label {
  color:#888888;
  font-size:12px;
}
#respond input {
  width:98%;
  margin:0 0 9px;
}
#respond textarea { width:98%; }
#respond dt, #respond dd {
  color:#888888;
  font-size:12px;
  line-height:18px;
  border-top: yellow 10px solid;
}
#respond dd code { font-size:11px; }
#respond .form-submit { margin:0 0 24px; }
#respond .form-submit input {
  width:auto;
  font-size:14px;
}
#respond dl { margin:0 0 10px; }
#respond dt {
  display:inline;
  font-weight:400;
}
#respond dd { display:inline; }
p.form-allowed-tags, .nocomments { display:none; }
.commentlist, .commentlist .children {
  list-style:none;
  margin:0;
}
.comment-meta a:active, .comment-meta a:hover, .reply a:hover, a.comment-edit-link:hover { color:yellow; }
#respond p, #comments-list ul #respond { margin:0; }

.authorbio {
  background-color: black;
  border: 1px solid grey;
  padding: 10px;
  margin-bottom: 20px;
}

.authorbio img {
  border-radius: 100px;
  float: left;
  padding: 5px;
  margin: 10px;
}

.authorbioText {
  display: inline;
}

textarea#comment {
	border: 0;
	border-top: 7px solid yellow;
}

article {
  border-top: 7px solid yellow;
  padding-top: 10px;
}

.single-parent a {
	color:black;
	text-decoration: underline;
}

// side bar

.sidebar {
  font-size: 1rem;
  color: black;
  font-weight: 300;
  font-family: $titleFont;
}

.sidebar h3 {
  text-transform: uppercase;
}

.sidebar a {
  text-decoration: none;
  color: #999;
}

.sidebar a:hover {
  text-decoration: none;
}

.sidebar-items a {
}
